@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
  main .main-information {
    font-size: 0.8em;
  }

  main .main-information nav {
    flex-direction: row;
    position: relative;
  }

  main .main-information .navigation {
    display: none;
  }

  main .main-information nav a {
    margin: 1rem;

    font-size: 1.4rem;
  }

  @keyframes slideInFromLeft {
    from {
      margin-left: -3rem;
    }

    to {
      margin-left: -0.2rem;
    }
  }

  main .vitaliy-vostrikov {
    padding: 1px 6px;

    animation-duration: 700ms;
    animation-name: slideInFromLeft;

    align-self: flex-end;
    display: flex;
    flex-shrink: 0;
    font-size: 2rem;
    font-weight: bold;
    margin-left: -0.3rem;
    position: fixed;
    text-transform: uppercase;
    transform: rotate(-90deg);
    transform-origin: left top;
    transition: all 10ms ease;
  }

  main .vitaliy-vostrikov:hover {
    background-color: black;
    color: white;
    margin-left: 0;
  }

  main .content {
    height: 80vh;
  }

  main .content .post {
    /*margin: 10rem;*/
  }

  main .articles {
    margin: 12rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  main .articles article {
    margin: 3rem;

    margin-right: 2rem;
  }

  main .articles article h2 {
    font-size: 1.4rem;
  }

  main .articles article .tags {
    font-size: 1rem;
  }

  @keyframes slideInFromRight {
    from {
      margin-right: -3rem;
    }

    to {
      margin-right: -0.2rem;
    }
  }

  main .navigation {
    right: 0;

    animation-duration: 700ms;
    animation-name: slideInFromRight;

    align-self: center;
    display: block;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: -16rem;
    position: fixed;
    transform: rotate(-90deg);
    transform-origin: right 3rem;
  }

  main .navigation a {
    margin: 0 1rem;
  }

  main .content .post {
    font-size: 2rem;
    width: 80%;
  }

  .post code {
    display: block;
    overflow-x: scroll;
    width: 100%;
  }

  .post p{
    margin: 6.6rem 0;
    line-height: 3rem;
    font-size: 1.6rem;
  }

  .post li {
    margin: 0;
    font-size: 1.6rem;
    line-height: 3rem;
  }

  .post .columns {
    column-count: 3;
  }

  .post h1 {
    font-size: 5rem;
  }

  .post h2 {
    font-size: 3rem;
  }
}