@media only screen and (min-width: 94px) {
  html {
    font-size: 62.5%;
  }

  main header a, .vitaliy-vostrikov a, .navigation a, .articles a {
    display: inline-block;
    padding-bottom: 2px;
    position: relative;
  }

  main header a:before, .vitaliy-vostrikov a:before, .navigation a:before, .articles a:before {
    left: 0;
    bottom: 0;

    content: '';
    display: block;
    height: 1px;
    position: absolute;
    transition: width 0s ease, background 0.5s ease;
    width: 0;
  }

  main header a:after, .vitaliy-vostrikov a:after, .navigation a:after, .articles a:after {
    right: 0;
    bottom: 0;

    background: black;

    content: '';
    display: block;
    height: 1px;
    position: absolute;
    transition: width 0.5s ease;
    width: 0;
  }

  main header a:hover:before, .vitaliy-vostrikov a:hover:before, .navigation a:hover:before, .articles a:hover:before {
    background: black;

    transition: width 0.5s ease;
    width: 100%;
  }

  main header a:hover:after, .vitaliy-vostrikov a:hover:after, .navigation a:hover:after, .articles a:hover:after {
    background: transparent;

    transition: all 0s ease;
    width: 100%;
  }

  body {
    background-color: white;
    color: black;
  }

  main {
    align-items: stretch;
    display: flex;
    flex-direction: column;
  }

  main .main-information {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }


  main .main-information nav {
    display: flex;
    flex-direction: column;
  }

  main .main-information nav a {
    font-size: 4rem;
    font-weight: bold;
    margin-right: 5rem;
    margin-top: 5rem;
    text-transform: lowercase;
  }

  main .main-information .navigation {
    display: block;
    margin-left: 10rem;
  }

  main .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  main .vitaliy-vostrikov {
    display: none;
  }

  main .articles {
    margin: 12rem;

    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @keyframes slideInFromBottom {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
      transform: translateZ(0px) translateY(0px) rotateX(0deg);
    }
  }

  main .artical-animate {
    animation: slideInFromBottom 0.8s ease-in-out forwards;
  }

  main .articles article {
    margin: 0;
  }

  main .articles article h2 {
    font-size: 4rem;
    font-weight: normal;
    text-transform: uppercase;
  }

  main .articles article .tags {
    color: #5a5a5a;
    font-size: 3rem;
    margin-top: 1rem;
    text-transform: lowercase;
  }

  main .articles .design {
    margin: 10px 0;
  }

  main .articles .design img {
    border-radius: 5px;
    width: 200px;
  }

  main .navigation {
    display: none;
  }

  main .content .post {
    margin: 0 auto;

    font-size: 4.2rem;
    margin-top: 12rem;
    width: 76rem;
  }

  .post a {
    color: #53a3da;
  }

  .post a:hover {
    color: #e64452;
  }

  .post code {
    display: block;
    overflow-x: scroll;
    width: 100%;
  }

  .post p {
    line-height: 5.8rem;
    margin-bottom: 6.6rem;
    margin-top: 3.3rem;
  }

  .post img {
    margin: 3rem;

    border-radius: 1rem;
    box-shadow: 0 8px 18px rgba(72, 80, 88, 0.2), 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: all 200ms;
  }

  .post img:hover {
    box-shadow: 0 8px 4rem rgba(72, 80, 88, 0.3), 0 2px 3px rgba(0, 0, 0, 0.1);
  }

  .post pre {
    padding: 16px;

    background-color: #f6f8fa;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
  }

  .post h2 {
    border-bottom: 1px solid #eaecef;
    font-size: 4.7rem;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 1.6rem;
    margin-top: 24px;
    padding-bottom: 0.3em;
  }
}

@media only screen and (min-width: 324px) {
  main .main-information nav {
    display: flex;
  }

  main .articles article {
    margin: 6rem;

    flex: 1;
    margin-right: 18rem;
  }
}
