html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;

  font: 16px/1 sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, p, blockquote, figure, ol, ul {
  margin: 0;
  padding: 0;
}
main, li {
  display: block;
}
h1, h2, h3, h4 {
  font-size: inherit;
}
strong {
  font-weight: bold;
}
a, button {
  color: inherit;
  transition: 0.3s;
}
a {
  text-decoration: none;
}
button {
  border: 0;
  background: none;

  cursor: pointer;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  overflow: visible;
}
::-moz-focus-inner {
  padding: 0;

  border: 0;
}
:focus {
  outline: 0;
}
img {
  border: 0;

  height: auto;
  max-width: 100%;
}


/*========*/

@media (min-width: 100px) {
  html {
    font-size: 62.5%;
  }

  a {
    display: inline-block;
    padding-bottom: 2px;
    position: relative;
  }

  a:before {
    left: 0;
    bottom: 0;

    content: '';
    display: block;
    height: 1px;
    position: absolute;
    transition: width 0s ease, background 0.5s ease;
    width: 0;
  }

  a:after {
    right: 0;
    bottom: 0;

    background: black;

    content: '';
    display: block;
    height: 1px;
    position: absolute;
    transition: width 0.5s ease;
    width: 0;
  }

  a:hover:before {
    background: black;

    transition: width 0.5s ease;
    width: 100%;
  }

  a:hover:after {
    background: transparent;

    transition: all 0s ease;
    width: 100%;
  }

  body {
    /*background-color: #F0F2F6;*/
    background-color: white;
    /*color: #444c59;*/
    color: black;
    font-family: 'Cousine', monospace;
  }

  main {
    display: flex;
    flex-direction: column;
  }
}


@media (min-width: 600px) {
  main {
    align-items: stretch;
  }


  main .main-information {
    display: flex;
    font-size: 0.8em;
    justify-content: center;
    margin-top: 4rem;
  }


  main .main-information nav {
    display: flex;
    position: relative;
  }

  main .main-information nav a {
    margin: 1rem;

    font-size: 1.4rem;
    font-weight: bold;
    text-transform: lowercase;
  }

  main .content {
    display: flex;
    flex-direction: row;
    height: 80vh;
    justify-content: space-between;
  }

  @keyframes slideInFromLeft {
    from {
      margin-left: -3rem;
    }

    to {
      margin-left: -0.2rem;
    }
  }

  main .vitaliy-vostrikov {
    padding: 0 6px 1px 6px;

    animation-duration: 700ms;
    animation-name: slideInFromLeft;

    align-self: flex-end;
    display: flex;
    flex-shrink: 0;
    font-size: 2rem;
    font-weight: bold;
    margin-left: -0.2rem;
    position: fixed;
    text-transform: uppercase;
    transform: rotate(-90deg);
    transform-origin: left top;
  }

  main .vitaliy-vostrikov:hover {
    background-color: black;
    color: white;
  }

  main .articles {
    margin: 12rem;

    display: flex;
    flex-wrap: wrap;
  }

  @keyframes slideInFromBottom {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
      transform: translateZ(0px) translateY(0px) rotateX(0deg);
    }
  }

  main .artical-animate {
    animation: slideInFromBottom 0.8s ease-in-out forwards;
  }

  main .articles article {
    margin: 3rem;

    flex: 1;
    margin-right: 2rem;
  }

  main .articles article h2 {
    font-size: 1.4rem;
    font-weight: normal;
    text-transform: uppercase;
  }

  main .articles article .tags {
    color: #5a5a5a;
    font-size: 1rem;
    margin-top: 0.8rem;
    text-transform: lowercase;
  }

  main .articles .design {
    margin: 10px 0;
  }

  main .articles .design img {
    border-radius: 5px;
    width: 200px;
  }

  @keyframes slideInFromRight {
    from {
      margin-right: -3rem;
    }

    to {
      margin-right: -0.2rem;
    }
  }
  main .navigation {
    right: 0;

    animation-duration: 700ms;
    animation-name: slideInFromRight;

    align-self: center;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: -16rem;
    position: fixed;
    transform: rotate(-90deg);
    transform-origin: right 3rem;
  }

  main .navigation a {
    margin: 0 1rem;
  }

  /*main {
    background-color: #fff;
    border-radius: 3px;
    border: solid 0px #F0F2F6 ;
    display: flex;
    height: 100vh;*/
  /*}*/
}
